@import "tailwindcss";

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #A3A292;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #E7E1D2;
  color: black;
  font-weight: bold;
}


:root {
  background-color: #E7E1D2
}